.hero__slider-content {
  @media screen and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1295px) {
    width: 1295px;
  }
  overflow: hidden;
}
.hero__slider-line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 700ms;
  @media screen and (max-width: 767px) {
    width: 2400px;
  }
  @media screen and (min-width: 768px) {
    width: 3840px;
  }
  @media screen and (min-width: 1295px) {
    width: 6475px;
  }
}

.hero__content {
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1295px) {
    max-width: 1295px;
  }
}
