:root {
  --main-text-color: #000000;
  --light-text-color: #ffffff;
  --first-accent-color: #00868a;
  --second-accent-color: #4fbfa5;
  --section-bgc: #edf9f6;
  --blurry-text-color: #e5f3f3;

  --main-font: 'Roboto', sans-serif;
}
