.navigation {
  @media screen and (max-width: 767px) {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 15px;
  }
  @media screen and (min-width: 1295px) {
    display: flex;
    align-items: center;
  }
}

.navigation-conteiner {
  @media screen and (min-width: 1295px) {
    display: flex;
    align-items: center;
  }
}

.logo-img {
  @media screen and (min-width: 768px) and (max-width: 1294px) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
}

.navigation__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1295px) {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }
}

.navigation__item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    padding-left: 30px;
  }

  & .link {
    padding-left: 30px;
    padding-right: 30px;
  }

  & .link-arrow {
    display: flex;
    & .text {
      margin-right: 10px;
    }
  }
}

.link-version {
  & .link {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-text-color);
    background-color: var(--first-accent-color);
    display: flex;
    align-items: center;

    & .icon {
      margin-right: 10px;
    }
  }
}

.logo {
  @media screen and (min-width: 1295px) {
    padding-right: 35px;
    padding-left: 35px;
  }
}
