.navigation {
  @media screen and (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and (max-width: 767px), (min-width: 1295px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    border: 1px solid var(--border-color);
  }
}

.navigation-conteiner {
  @media screen and (max-width: 767px) {
    border: 1px solid var(--border-color);
  }

  @media screen and (min-width: 1295px) {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
  }
}

.logo-img {
  @media screen and (min-width: 768px) and (max-width: 1294px) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
}

.navigation__list {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1294px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1295px) {
    display: flex;
    align-items: center;
  }
}

.navigation__item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  & .link {
    padding-left: 30px;
    padding-right: 30px;
    transition: color var(--animation) var(--cubic);
  }

  & .link:hover,
  & .link:focus {
    color: var(--first-accent-color);
  }

  & .link-arrow {
    display: flex;

    & .text {
      margin-right: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    padding: 0;
    & .link-arrow {
      justify-content: center;
    }
  }
  @media screen and (min-width: 1295px) {
    height: 78px;
    padding-top: 25px;
  }
}
.navigation__item:not(:last-child) {
  @media screen and (min-width: 1295px) {
    border-right: 1px solid var(--border-color);
  }
}

.link-version {
  & .link {
    padding: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--light-text-color);
    background-color: var(--first-accent-color);
    display: flex;
    align-items: center;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--animation) var(--cubic);

    & .icon {
      margin-right: 10px;
    }
  }
  & .link:focus,
  & .link:hover {
    background-color: var(--hover-color);
    color: var(--first-accent-color);
    path {
      fill: var(--first-accent-color);
    }
  }

  @media screen and (min-width: 1295px) {
    padding-top: 15px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.logo {
  @media screen and (min-width: 1295px) {
    padding-right: 35px;
    padding-left: 35px;
  }
}
