<section class="actual">
    <div class="conteiner">
        <h1 class="actual__title">Актуальные спецпредложения</h1>
        <div class="actual__conteiner">
            <button class="actual__btn">Косметология</button>
            <img class="img actual__img" src="./images/actual/actual-first.jpg" alt="">
            <a class="link actual__link" href="">Лазерное и фотоомоложение</a>
        </div>
        <div class="actual__conteiner">
            <button class="actual__btn">Косметология</button>
            <img class="img actual__img" src="./images/actual/actual-second.jpg" alt="">
            <a class="link actual__link" href="">Лазерное и фотоомоложение</a>
        </div>
        <div class="actual__conteiner">
            <button class="actual__btn">Косметология</button>
            <img class="img actual__img" src="./images/actual/actual-third.jpg" alt="">
            <a class="link actual__link" href="">Лазерное и фотоомоложение</a>
        </div>
        <div class="actual__conteiner">
            <button class="actual__btn">Косметология</button>
            <img class="img actual__img" src="./images/actual/actual-fourth.jpg" alt="">
            <a class="link actual__link" href="">Лазерное и фотоомоложение</a>
        </div>
    </div>
</section>