<section class="courses">
    <div class="conteiner">
        <div class="courses__innovation">
            <button class="courses__innovation-btn">Инновации</button>
            <h2 class="courses__innovation-title">Мы практикуем новый курс процедур аппаратной косметологии</h2>
            <a class="link courses__innovation-link" href="">подробнее</a>
            <img class="img courses__innovation-img" src="" alt="">
        </div>
        <div class="courses__patent">
            <button class="courses__patent-bth">Эстетика красоты</button>
            <ul class="list courses__patent-list">
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
                <li class="item courses__patent-item">Уникальных патентов
                    в области косметологии</li>
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
            </ul>
        </div>
        <div class="courses__certificate">
            <img class="img courses__certificate-img" src="" alt="">
        </div>
    </div>
</section>