<section class="courses">
    <div class="conteiner conteiner__courses">
        <div class="courses__innovation">
            <div class="courses__innovation-conteiner">
                <button class="courses__innovation-btn">Инновации</button>
                <h2 class="courses__innovation-title">Мы практикуем новый курс процедур аппаратной косметологии</h2>
                <a class="link courses__innovation-link" href="">
                    <!-- <svg>
                        <use href="./images/svg-icons/arrow-right.svg"></use>
                    </svg> -->
                    подробнее</a>
            </div>
            <img class="img courses__innovation-img" src="./images/main/innovations.jpg" alt="">
        </div>
        <div class="courses__patent">
            <button class="courses__patent-bth">Эстетика красоты</button>
            <ul class="list courses__patent-list">
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
                <li class="item courses__patent-item unique-patent">Уникальных патентов
                    в области косметологии</li>
                <li class="item courses__patent-item">Современных центра
                    в странах СНГ</li>
            </ul>
        </div>
        <div class="courses__patent">
            <img class="img courses__patent-img" src="./images/main/patent.jpg" alt="">
        </div>
    </div>
</section>