<section class="courses">
    <div class="conteiner conteiner__courses">
        <div class="courses__innovation">
            <div class="courses__innovation-conteiner">
                <button class="courses__innovation-btn">Инновации</button>
                <h2 class="courses__innovation-title">Мы практикуем новый курс процедур аппаратной косметологии</h2>
                <a class="link courses__innovation-link" href="">
                    <span class="icon">
                        <svg  width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5L20 4.5V3.5L0 3.5L0 4.5Z"
                                fill="white" />
                        </svg>
                    </span>
                    <span class="text">
                        подробнее
                    </span></a>
            </div>
            <img class="img courses__innovation-img" src="./images/main/innovations.jpg" alt="">
        </div>
        <div class="courses__patent-conteiner">
            <div class="courses__patent">
                <button class="courses__patent-bth">Эстетика красоты</button>
                <ul class="list courses__patent-list">
                    <li class="item courses__patent-item">
                        <span class="number">
                            78
                        </span>
                        <span class="text">
                            Современных центра в странах СНГ
                        </span>
                    </li>
                    <li class="item courses__patent-item">
                        <span class="number">
                            78
                        </span>
                        <span class="text">
                            Современных центра в странах СНГ
                        </span>
                    </li>
                    <li class="item courses__patent-item unique-text">
                        <span class="number">
                            20
                        </span>
                        <span class="text">
                            Уникальных патентов 
                            в области косметологии</span>
                    </li>
                    <li class="item courses__patent-item"><span class="number">
                            78
                        </span>
                        <span class="text">
                            Современных центра в странах СНГ
                        </span>
                    </li>
                </ul>
            </div>
            <div class="courses__patent-photo">
                <img class="img courses__patent-img" src="./images/main/patent.jpg" alt="">
            </div>
        </div>
    </div>
</section>