<footer class="footer">
    <div class="conteiner">
        <div class="footer__services">
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
            <div class="footer__services-conteiner">
                <h3 class="footer__services-title">Услуги</h3>
                <ul class="list footer__services-list">
                    <li class="item footer__services-item">Косметология</li>
                    <li class="item footer__services-item">Пластическая хирургия</li>
                    <li class="item footer__services-item">Стоматология</li>
                    <li class="item footer__services-item">Лазерная медицина</li>
                </ul>
            </div>
        </div>
        <nav class="footer__nav">
            <ul class="list footer__nav-list">
                <li class="item footer__nav-item">
                    <h3 class="footer__nav-title">Телефон</h3>
                    <a class="link footer__nav-link" href="tel:+78121234567">+7 (812) 123-45-67</a>
                </li>
                <li class="item footer__nav-item">
                    <h3 class="footer__nav-title">Адресс</h3>
                    <p class="footer__nav-address">Невский пр. 140, пом. 10</p>
                    <a class="link footer__nav-link" href=""></a>
                </li>
                <li class="item footer__nav-item">
                    <h3 class="footer__nav-title">Адресс</h3>
                    <p class="footer__nav-address">Большой пр. 12</p>
                    <a class="link footer__nav-link" href=""></a>
                </li>
            </ul>
        </nav>
        <div class="footer__link">
            <ul class="list footer__link-list">
                <li class="item footer__link-item">
                    <p class="footer__link-protection">(c) 2021. Центр космелогии. Все права защищены.
                        Наши сертификаты на осуществление деятельности.
                        Патенты на использование технологий.</p>
                    <a class="link footer__link-confidentiality" href="">Политика конфиденциальности</a>
                </li>
                <li class="item footer__link-item">
                    <a class="link link-version" href="">Версия для слабовидящих</a>
                </li>
            </ul>
            <ul class="list social-list">
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</footer>