<header class="header">
    <div class="conteiner conteiner-header">
        <nav class="navigation">
            <a class="link logo" href="">
                <img class="img logo-img" src="./images/logo/logo.svg" alt="logo" width="189" height="54">
            </a>
            <button class="modal-btn" id="modal-btn" aria-expanded="false">
                <svg class="icon" width="20" height="20">
                    <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
                    <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <div class="data-menu navigation-conteiner" data-menu>
            <ul class="list navigation__list">
                <li class="item navigation__item"><a class="link" href="tel:+71234567890">+7 (123) 456 78 90</a></li>
                <li class="item navigation__item"><a class="link" href="">
                        Наши салоны</a></li>
                <li class="item navigation__item link-version"><a class="link" href="">
                        <span class="link-version__text">Версия для слабовидящих</span></a></li>
            </ul>
            
            <ul class="list social-list">
                <li class="item social-list__item">
                    <a class="link social-list__link" href="">
                        <svg width="24" height="24" class="icon">
                            <use href="./images/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>
            
                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="24" height="24" class="icon">
                            <use href="./images/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
            
                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="24" height="24" class="icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
            
                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="24" height="24" class="icon">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
            
                </li>
            </ul>
            </div>

        </nav>
    </div>
</header>