<header class="header">
    <div class="conteiner conteiner-header">
        <nav class="navigation">
            <a class="link navigation--logo" href="">
                <img class="img navigation__img" src="./images/logo/logo.svg" alt="logo" width="81" height="54">
            </a>
            <ul class="list navigation">
                <li class="item navigation--item"><a class="link" href="tel:+71234567890">+7 (123) 456 78 90</a></li>
                <li class="item navigation--item"><a class="link" href="">Наши салоны</a></li>
                <li class="item navigation--item"><a class="link" href="">Версия для слабовидящих</a></li>
            </ul>

            <ul class="list social-list">
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-vk"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>

                </li>
                <li class="item social-list__item">
                    <a class="link social-list--link" href="">
                        <svg width="50" height="50" class="icon">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
</header>