<section class="hero">
    <div class="conteiner">
        <nav class="hero__navigation">
            <ul class="list hero__navigation-list">
                <li class="item hero__navigation-item"> <a class="link" href=""> Косметология</a></li>
                <li class="item hero__navigation-item"> <a class="link" href="">Пластическая хирургия</a></li>
                <li class="item hero__navigation-item"> <a class="link" href=""> Стоматология</a></li>
                <li class="item hero__navigation-item"> <a class="link" href=""> Лазерная медицина</a></li>
                <li class="item hero__navigation-item"> <a class="link" href=""> Контакты</a></li>
            </ul>
            <button class="hero__navigation-btn">Запись на прием</button>
        </nav>
        <div class="hero__content">
            <h1 class="hero__content-title">Косметология</h1>
            <p class="hero__content-text">Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная,
                подтянутая фигура — сегодня это
                неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.</p>
            <button class="hero__content-btn">подробнее</button>
            <img class="img hero__content-img" src="./images/main/cosmetology.jpg" alt="">
        </div>
        <div class="hero__direction">
            <ul class="list hero__direction-list">
                <li class="item hero__direction-item">
                    <button class="hero__direction-btn">
                        Комплексные процедуры
                    </button>
                </li>
                <li class="item hero__direction-item">
                    <button class="hero__direction-btn">
                        Центр обучения
                    </button>
                </li>
                <li class="item hero__direction-item">
                    <button class="hero__direction-btn">
                        VIP клиентам
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>