<section class="news">
    <div class="conteiner">
        <div class="news__conteiner">
            <button class="news__btn">Новости</button>
            <ul class="list news__list">
                <li class="item news__item"><button class="news__item-btn">Почему рекомендуется посещать
                        профессионального косметолога. Мнение специалистов
                        центра</button></li>
                <li class="item news__item"><button class="news__item-btn">Стандартизация деятельности клиник в
                        соответствии с ISO 9001:2015.</button></li>
                <li class="item news__item"><button class="news__item-btn">Индивидуальный подход к каждому пациенту и
                        подбор оптимальных косметологических
                        методик.</button></li>
            </ul>
        </div>
        <div class="news__conteiner-reason">
            <h2 class="news__title">Почему рекомендуется посещать профессионального косметолога. Мнение специалистов
                центра</h2>
            <ul class="list news__list-reason">
                <li class="item news__item-reason">Процедуры аппаратной косметологии на оборудовании экспертного класса
                    от
                    ведущих мировых производителей могут проводиться
                    в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз,
                    потеря
                    тонуса и
                    упругости кожи, отечность, целлюлит и т. п.</li>
                <li class="item news__item-reason">С помощью инъекционных методик мы можем разгладить морщины, провести
                    объёмное
                    моделирование, увлажнить кожу, ввести
                    активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.</li>
                <li class="item news__item-reason">Лазерное и фотоомоложение помогут запустить процесс синтеза
                    собственного
                    коллагена, улучшить светооптические свойства
                    кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного
                    периода.</li>
                <li class="item news__item-reason">Курс процедур лазерной эпиляции поможет навсегда избавиться от
                    проблемы
                    нежелательных волос.</li>
            </ul>
        </div>
    </div>
</section>