<section class="news">
    <div class="conteiner news__conteiner">
        <div class="news__conteiner-buttons">
            <button class="news__btn">Новости</button>
            <ul class="list news__list">
                <li class="item news__item"><button class="news__item-btn causes-btn active">Почему рекомендуется посещать
                        профессионального косметолога. Мнение специалистов
                        центра</button></li>
                <li class="item news__item"><button class="news__item-btn standardization-btn">Стандартизация деятельности клиник в
                        соответствии с ISO 9001:2015.</button></li>
                <li class="item news__item"><button class="news__item-btn methodology-btn">Индивидуальный подход к каждому пациенту и
                        подбор оптимальных косметологических
                        методик.</button></li>
            </ul>
        </div>
        <div class="news__conteiner-reason causes-list is-open">
            <h2 class="news__title">Почему рекомендуется посещать профессионального косметолога. Мнение специалистов
                центра</h2>
            <ul class="list news__list-reason">
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Процедуры аппаратной косметологии на оборудовании экспертного класса
                        от
                        ведущих мировых производителей могут проводиться
                        в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз,
                        потеря
                        тонуса и
                        упругости кожи, отечность, целлюлит и т. п.
                    </span>
                    </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        С помощью инъекционных методик мы можем разгладить морщины, провести
                        объёмное
                        моделирование, увлажнить кожу, ввести
                        активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.
                    </span>
                    </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Лазерное и фотоомоложение помогут запустить процесс синтеза
                        собственного
                        коллагена, улучшить светооптические свойства
                        кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного
                        периода.
                    </span>
                    </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Курс процедур лазерной эпиляции поможет навсегда избавиться от
                        проблемы
                        нежелательных волос.
                    </span>
                    </li>
            </ul>
        </div>
        <div class="news__conteiner-reason standardization-list close">
            <h2 class="news__title">Стандартизация деятельности клиник в
            соответствии с ISO 9001:2015.</h2>
            <ul class="list news__list-reason">
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam eius omnis id corrupti molestiae! Ullam neque eos nostrum, dignissimos aperiam soluta nisi asperiores architecto!
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, consequatur quisquam? Corrupti porro, at velit reprehenderit quo unde ratione rerum maxime illum tenetur natus magni? Tempore temporibus quaerat doloribus maxime corporis consectetur rem animi. Eius.
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae eum hic quo, error rerum perspiciatis assumenda voluptatibus consequuntur delectus expedita. Quas numquam nesciunt quam perspiciatis exercitationem consequuntur dolores aliquam impedit, incidunt mollitia porro, vitae quibusdam, aliquid magni laborum. Iure, laudantium?
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam nemo nisi temporibus sunt cumque minus officiis cum?
                    </span>
                </li>
            </ul>
        </div>
        <div class="news__conteiner-reason methodology-list close">
            <h2 class="news__title">Индивидуальный подход к каждому пациенту и
            подбор оптимальных косметологических
            методик.</h2>
            <ul class="list news__list-reason">
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, natus debitis repellat adipisci assumenda tempore hic id iure reprehenderit inventore, non similique iusto accusantium repudiandae blanditiis tenetur necessitatibus porro, quisquam odit eaque commodi? Nam natus soluta dolore? Inventore itaque quis odit, veritatis iure, explicabo vel reprehenderit repudiandae dolore doloribus eius!
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam facere, omnis consectetur delectus ipsum dicta exercitationem velit dolor esse, minus in id pariatur maiores incidunt minima aliquam laboriosam soluta illum quam fugiat enim ducimus laudantium ullam. Aliquid sed alias laboriosam doloribus sequi repellat, minima hic repudiandae debitis itaque officiis odio maiores ab quaerat ipsa provident. Magnam, eos? Quis itaque illum facilis tempore nihil dolor, placeat similique minima est assumenda veritatis quos eum nemo sapiente. Distinctio minima id porro!
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officiis accusamus aliquid beatae nobis eum quis nisi dicta est fugiat.
                    </span>
                </li>
                <li class="item news__item-reason">
                    <span class="icon">.</span>
                    <span class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>