
<!-- <div class="owl-carousel owl-theme">
    <div class="hero__content item">
        <div class="hero__content-conteiner">
            <h1 class="hero__content-title">Косметология</h1>
            <p class="hero__content-text">Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная,
                подтянутая фигура — сегодня это
                неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.</p>
            <button class="hero__content-btn">подробнее</button>
        </div>
        <img class="img hero__content-img" src="./images/main/cosmetology.jpg" alt="">
    </div>
</div> -->

<!-- 
<div class="slider">
    <div class="slider__container">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    Контент 1 слайда
                </div>
                <div class="slider__item">
                    Контент 2 слайда
                </div>
                <div class="slider__item">
                    Контент 3 слайда
                </div>
            </div>
        </div>
    </div>
Кнопки для перехода к предыдущему и следующему слайду   
         <a href="#" class="slider__control" data-slide="prev"></a>
    <a href="#" class="slider__control" data-slide="next"></a>
</div> -->




