<div class="hero__content swiper">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
    <div class="hero__content-conteiner ">
        <h1 class="hero__content-title">Косметология</h1>
        <p class="hero__content-text">Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная,
            подтянутая фигура — сегодня это
            неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.</p>
        <button class="hero__content-btn">подробнее</button>
    </div>
    <img class="img hero__content-img" src="./images/main/cosmetology.jpg" alt="">
        </li>
        <li class="swiper-slide">
            <div class="hero__content-conteiner swiper-wrapper">
                <h1 class="hero__content-title">Косметология</h1>
                <p class="hero__content-text">Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная,
                    подтянутая фигура — сегодня это
                    неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.</p>
                <button class="hero__content-btn">подробнее</button>
            </div>
            <img class="img hero__content-img" src="./images/main/cosmetology.jpg" alt="">
        </li>
        <li class="swiper-slide">
            <div class="hero__content-conteiner swiper-wrapper">
                <h1 class="hero__content-title">Косметология</h1>
                <p class="hero__content-text">Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная,
                    подтянутая фигура — сегодня это
                    неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.</p>
                <button class="hero__content-btn">подробнее</button>
            </div>
            <img class="img hero__content-img" src="./images/main/cosmetology.jpg" alt="">
        </li>
    </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>


</div>